.edit-product-page {

  .flex {
    width: 765px;
  }

  .push-btn {
    width:320px;
  }

  .push-btn:active {
    width:320px;
  }

  .white-push-btn {
    width: 400px;
  }

  .white-push-btn:active {
    width: 403px;
  }

  .central-row .main-form .choose-profile-photo-box {
    margin-bottom:35px;
  }
}
