.add-new-campaign-page {

	.aside .menu li .menu-item__add-campaign {
    color: $green;
  }

  .flex {
     width: 100%;
  }

  .input-append-date-container {
  	position: relative;


    .calendar-container {
  	  position: absolute;
  	  right: 15px;
      top: 15px;
      font-size: 55px;
      color: #717178;
      cursor: pointer;
    }
  }
}
