.aside{
  width: 15%;
  float: left;
  background-color: #f5f5f5;
  padding: 70px 0;
  min-height:calc(100vh - 120px - 296px);
 /* height:calc( - 120px - 296px);*/
  .menu {
    list-style-type: none;
    position: relative;

    li {

      height: 53px;
      border-bottom: 1px solid #cacaca;
      cursor: pointer;
      padding: 0 25px;
      margin: 0 1px;

      a {
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 30px;
        line-height: 52px;
        font-weight: 200;
        text-decoration: none;
        transition: all .3s;

        .menu__icon {
          margin-right: 19px;
          vertical-align: middle;
          margin-bottom: 5px;
          transition: all .3s;
        }

        .menu__arrow {
          width: 36px;
          height: 36px;
          background-position: -167px 0px;
          float: right;
          opacity: 0;
          margin-top: 8px;
          transition: all .3s;
        }

        .mobile-icon {
          width: 30px;
          height: 24px;
          background-position: 0px -80px;
        }
      }
    }

    li:hover a{
      color: #0bcea2;
      transition: all .3s;
    }

    li:hover .menu__icon {
      background-position: 0px -117px;
      transition: all .3s;
    }

    li:hover .menu__arrow {
      opacity: 1;
      transition: all .3s;
    }
  }

}