.header {
  padding: 0 120px 0 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 120px;
  background-color: #3f3e44;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;

  .header__search-box {
    position: relative;
    padding-left:26%;
    padding-right: 21%;
    height: 45px;
    width: 500px;
    box-sizing: content-box;

    .search-input {
      position:absolute;
      outline: none;
      border: none;
      height: 45px;
      width: 420px;
      background-color: #ffffff;
      color: #7b7b7b;
      font-size: 17px;
      line-height: 65px;
      padding-left: 24px;
      padding-right: 24px;
      border-radius: 5px;
    }

    .search-btn {
      right: 31%;
      position:absolute;
      width: 80px;
      height: 45px;
      border-radius: 5px;
      background-color: $green;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all .3s;

    }

    .search-icon {
      width: 35px;
      height: 35px;
      position: absolute;
      top: 5px;
      left: 23px;
      background-position: 0px 0px;
    }

  }

  .header__icon-box {
    width: 11%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: distribute;
            justify-content: space-between;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;

    .login-icon {
      width: 76px;
      height: 76px;
      background-position: -125px 0;
      text-decoration: none;
      color: #ffffff;

      .flaticon-user-3 {
         font-size: 76px;
         line-height: 76px;
      }
    }

    .menu-icon {
      width: 67px;
      height: 60px;
      background-position: -220px 0;
      text-decoration: none;
      color: #ffffff;

      .flaticon-menu-2 {
         font-size: 60px;
         line-height: 60px;
      }
    }

    a {
      transition: all .3s;
    }

    a:hover {
      color: $green;
      transition: all .3s;
    }
  }

  .header-box {
    position:relative;

    .sign-in-hover {
      height:424px;
      width:387px;
      background-color: #3f3e44;
      position: absolute;
      bottom:0px;
      left:50%;
      z-index:20;
    }
  }
}
