.header {
  .login-box {
    .sign-in-dropdown {
      transition: all .3s;
      opacity: 0;
      padding: 35px 32px;
      width:387px;
      background-color: #3f3e44;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      top: 101px;
      z-index:20;

      .sign-in__input {
        width:322px;
        height:35px;
        outline: none;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
      }

      .sign-in-input-box :last-child {
        margin-bottom: 0px;
      }

      a {
        font-size: 14px;
        font-weight: 100;
        color:#46ba8c;
        text-decoration: underline;
      }

      .sign-in-btn {
        width: 170px;
        height: 33px;
        display: block;
        margin: 20px auto;
        background-color: #46ba8c;
        outline: none;
        border: none;
        font-size: 25px;
        color: #ffffff;
        border-radius: 5px;
        box-shadow: 2px 2px #30966e;
        cursor: pointer;
        transition: all .3s;
      }

      .sign-in-btn:hover {
        transition: all .3s;
        box-shadow: none;
        margin:21px auto 19px auto;
        background-color: #30966e;
      }

      .sign-in__icon {
        color: #ffffff;
        font-size:25px;
        margin-left: 7px;
        cursor: pointer;
        transition: all .3s;
      }

      .sign-in__icon:hover {
        color: $green;
        text-shadow: 0 0 5px 5px $green;
        transition: all .3s;
      }
    }
  }
}