.header {
  .login-box {
    .log-out-dropdown-container {
      display: none;
      padding-top:3px;
      z-index:20;
      width:480px;
      top: 320px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
    }

    .log-out-dropdown {
      display: none;
      transition: all .3s;
      opacity: 0;
      padding: 0px 32px;
      width:480px;
      background-color: #3f3e44;
      position: absolute;
      text-align: center;

      a {
        line-height: 66px;
        font-size: 30px;

      }
    }
  }
}