.registration-page,
.sign-in-page {

	.header .header__icon-box {
		width: 67px;
	}

	.main-block {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
    padding-bottom: 125px;
    padding-top: 0px;
    margin: 0;
    max-width: 100vw;
    float: none;
    font-size: 35px;
    font-family:'Roboto-Thin',sans-serif;

    .registration-box,
    .sign-in-box {
    	margin: 0 auto;
    	color: #ffffff;
    	font-family: 'Roboto-Thin',sans-serif;


      .confirm-form {
        width: 1010px;

       	.confim-box {
        	background-color:#3f3e44;
        	border-top: 6px solid $green;
        }

        .button-container {
        	padding: 84px 0;
        }
      }

    }

    .step-1 {
      .confirm-form{
      	display: none;
      }

    	.step-box-1 {
    		background-color:#3f3e44;
    	}

    }

    .step-2 {
    	.registration-form {
    		display: none;
    	}

    	.step-box-2 {
    		background-color:#3f3e44;
    	}
    }
	}
}