@charset "UTF-8";

@import "reset.css";
@import "fontello.css";

/*base*/

$green: #46ba8c;

*,
*:before,
*:after {
  box-sizing: border-box;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.wrapper {
	min-width: 1100px;
}

.central-row {
  position: relative;
}

/*fonts*/

h1 {
	font-size: 50px;
	font-family: 'Cardo',sans-serif;
	line-height:80px;
}

h2 {
  font-family: 'Cardo', sans-serif;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
}


h3 {
	font-size: 45px;
	font-family: 'Cardo',sans-serif;
	line-height:80px;
}

a {
	cursor: pointer;
	text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cardo";
  src: url(../fonts/Cardo-Regular.ttf);
  font-style: normal;
  font-weight: normal;
  background-color: #000000;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #373737;
	font-size: 30px;
	line-height: 52px;
	font-weight: 200;
	background-color: #ffffff;
}

.icon-from-sprite {
	display: inline-block;
	background-image: url(../images/sprite.png);
}


@import "header";
@import "aside-menu";
@import "footer";
@import "main-block";
@import "aside-submenu";
@import "login-box";
@import "login-box__account-dropdown";
@import "login-box__log-out-link";
@import "login-box__register-link";
@import "login-box__sign-in-dropdown";

