@charset "UTF-8";

@import "reset.css";
@import "fontello.css";
@import "flaticon.css";
@import "flexslider.css";
@import "chosen.css";

/*base*/

$green: #46ba8c;

*,
*:before,
*:after {
  box-sizing: border-box;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.wrapper {
  min-width: 1100px;
}

.central-row {
  position: relative;
  padding-right:120px;
}

::-webkit-scrollbar {
  background-color:#ffffff;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color:$green;
}

/*fonts*/

h1 {
  font-size: 50px;
  font-family: 'Cardo',sans-serif;
  line-height:80px;
}

h2 {
  font-family: 'Cardo', sans-serif;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
}


h3 {
  font-size: 45px;
  font-family: 'Cardo',sans-serif;
  line-height:80px;
}

h4 {
  font-family: 'Cardo', sans-serif;
  font-size: 100px;
  line-height: 293px;
  text-align: center;
}

h5 {
  font-family: 'Cardo', sans-serif;
  font-size: 70px;
  line-height: 90px;
  text-align: center;
  color: #ffffff;
}

h6 {
  font-family: 'Cardo', sans-serif;
  font-size: 80px;
  color: #3f3e44;
  line-height: 90px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Light.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cardo";
  src: url(../fonts/Cardo-Regular.ttf);
  font-style: normal;
  font-weight: normal;
  background-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #373737;
  font-size: 30px;
  line-height: 52px;
  font-weight: 200;
  background-color: #ffffff;
}

.icon-from-sprite {
  display: inline-block;
  background-image: url(../images/sprite.png);
}

.sign-in__icon {
  color: #ffffff;
  font-size:25px;
  margin-left: 7px;
  cursor: pointer;
  transition: all .3s;
}

.sign-in__icon:hover {
  color: $green;
  text-shadow: 0 0 5px 5px $green;
  transition: all .3s;
}



/*fixing footer*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.content {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}


@import "header";
@import "aside-menu";
@import "footer";
@import "main-block";
@import "aside-submenu";
@import "login-box";
@import "login-box__account-dropdown";
@import "login-box__log-out-link";
@import "login-box__register-link";
@import "login-box__sign-in-dropdown";
@import "registration-page__base";
@import "registration-page__registration-form";
@import "registration-page";
@import "sign-in-page";
@import "product-page.scss";
@import "tabs-popup";
@import "account";
@import "chosen-user";



