@import url(reset.css);
/*base*/
*,
*:before,
*:after {
  box-sizing: border-box; }

.row:after {
  display: block;
  content: "";
  clear: both; }

.wrapper {
  min-width: 1530px; }

/*fonts*/
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Cardo";
  src: url(../fonts/Cardo-Regular.ttf);
  font-style: normal;
  font-weight: normal;
  background-color: #000000; }
body {
  font-family: 'Roboto', sans-serif;
  color: #373737;
  font-size: 30px;
  line-height: 52px;
  font-weight: 200;
  background-color: #ffffff; }

.icon-from-sprite {
  display: inline-block;
  background-image: url(../images/icon-sprite.png); }

.aside {
  width: 15%;
  height: 100%;
  float: left;
  background-color: #f5f5f5;
  padding: 70px 0; }
  .aside .menu {
    list-style-type: none; }
    .aside .menu li {
      height: 53px;
      border-bottom: 1px solid #cacaca;
      cursor: pointer;
      padding: 0 25px;
      margin: 0 1px; }
      .aside .menu li a {
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 30px;
        line-height: 52px;
        font-weight: 200;
        text-decoration: none; }
        .aside .menu li a .menu__icon {
          width: 30px;
          margin-right: 19px;
          vertical-align: middle;
          margin-bottom: 5px; }

.main-block {
  max-width: 85%;
  padding: 84px 60px;
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .main-block .main-block__product-box {
    margin-bottom: 45px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0 15px 0;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 350px;
    height: 350px;
    border: 1px solid #cacaca;
    background-color: #ffffff; }
    .main-block .main-block__product-box .main-block__product-box__image {
      max-height: 160px;
      max-width: 250px; }
    .main-block .main-block__product-box .main-block__product-box__price {
      width: 100%;
      text-align: center;
      height: 85px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .main-block .main-block__product-box .main-block__product-box__price .you-get-box,
      .main-block .main-block__product-box .main-block__product-box__price .they-get-box {
        width: 50%;
        height: 100%; }
        .main-block .main-block__product-box .main-block__product-box__price .you-get-box .title,
        .main-block .main-block__product-box .main-block__product-box__price .they-get-box .title {
          font-size: 25px;
          color: #31313a;
          font-weight: light;
          line-height: 35px; }
        .main-block .main-block__product-box .main-block__product-box__price .you-get-box .sum,
        .main-block .main-block__product-box .main-block__product-box__price .they-get-box .sum {
          line-height: 50px;
          font-size: 40px;
          color: #ba3318;
          font-weight: 400; }
      .main-block .main-block__product-box .main-block__product-box__price .you-get-box {
        border-right: 1px solid #3f3e44; }

.central-row {
  position: relative; }

.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 120px;
  background-color: #3f3e44;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .header .header__search-box {
    position: relative;
    padding-left: 26%;
    padding-right: 21%;
    height: 45px;
    width: 74%; }
    .header .header__search-box .search-input {
      position: absolute;
      outline: none;
      border: none;
      height: 45px;
      width: 35.7%;
      background-color: #ffffff;
      color: #7b7b7b;
      font-size: 17px;
      line-height: 65px;
      padding-left: 24px;
      padding-right: 24px;
      border-radius: 10px 0px 0px 10px; }
    .header .header__search-box .search-btn {
      right: 25.5%;
      position: absolute;
      width: 65px;
      height: 45px;
      border-radius: 0 10px 10px 0;
      background-color: #46ba8c;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all .3s; }
    .header .header__search-box .search-icon {
      width: 35px;
      height: 35px;
      position: absolute;
      top: 5px;
      left: 15px;
      background-position: 0px 0px; }
    .header .header__search-box .search-btn:hover {
      text-shadow: 0 0 2px #ffffff;
      box-shadow: 0 0 10px 3px #46ba8c;
      transition: all .3s; }
  .header .header__icon-box {
    width: 14%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .header__icon-box .login-icon {
      width: 76px;
      height: 76px;
      background-position: -125px 0; }
    .header .header__icon-box .menu-icon {
      width: 67px;
      height: 60px;
      background-position: -220px 0; }

/*# sourceMappingURL=screen.css.map */
