@import url(reset.css);
@import url(fontello.css);
/*base*/
*,
*:before,
*:after {
  box-sizing: border-box; }

.row:after {
  display: block;
  content: "";
  clear: both; }

.wrapper {
  min-width: 1100px; }

.central-row {
  position: relative; }

/*fonts*/
h1 {
  font-size: 50px;
  font-family: 'Cardo',sans-serif;
  line-height: 80px; }

h2 {
  font-family: 'Cardo', sans-serif;
  font-size: 60px;
  line-height: 80px;
  text-align: center; }

h3 {
  font-size: 45px;
  font-family: 'Cardo',sans-serif;
  line-height: 80px; }

a {
  cursor: pointer;
  text-decoration: none; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Cardo";
  src: url(../fonts/Cardo-Regular.ttf);
  font-style: normal;
  font-weight: normal;
  background-color: #000000; }
body {
  font-family: 'Roboto', sans-serif;
  color: #373737;
  font-size: 30px;
  line-height: 52px;
  font-weight: 200;
  background-color: #ffffff; }

.icon-from-sprite {
  display: inline-block;
  background-image: url(../images/sprite.png); }

.header {
  padding: 0 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 120px;
  background-color: #3f3e44;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header .header__search-box {
    position: relative;
    padding-left: 26%;
    padding-right: 21%;
    height: 45px;
    width: 500px;
    box-sizing: content-box; }
    .header .header__search-box .search-input {
      position: absolute;
      outline: none;
      border: none;
      height: 45px;
      width: 420px;
      background-color: #ffffff;
      color: #7b7b7b;
      font-size: 17px;
      line-height: 65px;
      padding-left: 24px;
      padding-right: 24px;
      border-radius: 5px; }
    .header .header__search-box .search-btn {
      right: 31%;
      position: absolute;
      width: 80px;
      height: 45px;
      border-radius: 5px;
      background-color: #46ba8c;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all .3s; }
    .header .header__search-box .search-icon {
      width: 35px;
      height: 35px;
      position: absolute;
      top: 5px;
      left: 23px;
      background-position: 0px 0px; }
    .header .header__search-box .search-btn:hover {
      text-shadow: 0 0 2px #ffffff;
      box-shadow: 0 0 25px 2px #46ba8c;
      transition: all .3s; }
  .header .header__icon-box {
    width: 14%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .header__icon-box .login-icon {
      width: 76px;
      height: 76px;
      background-position: -125px 0;
      text-decoration: none;
      color: #ffffff; }
      .header .header__icon-box .login-icon .flaticon-user-3 {
        font-size: 76px;
        line-height: 76px; }
    .header .header__icon-box .menu-icon {
      width: 67px;
      height: 60px;
      background-position: -220px 0;
      text-decoration: none;
      color: #ffffff; }
      .header .header__icon-box .menu-icon .flaticon-menu-2 {
        font-size: 60px;
        line-height: 60px; }
    .header .header__icon-box a {
      transition: all .3s; }
    .header .header__icon-box a:hover {
      color: #46ba8c;
      text-shadow: 0px 0px 10px #46ba8c;
      transition: all .3s; }
  .header .header-box {
    position: relative; }
    .header .header-box .sign-in-hover {
      height: 424px;
      width: 387px;
      background-color: #3f3e44;
      position: absolute;
      bottom: 0px;
      left: 50%;
      z-index: 20; }

.aside {
  position: absolute;
  width: 15%;
  min-width: 320px;
  float: left;
  background-color: #f5f5f5;
  padding: 70px 0;
  height: 100%;
  /* height:calc( - 120px - 296px);*/ }
  .aside .menu {
    list-style-type: none;
    position: relative; }
    .aside .menu li {
      height: 53px;
      border-bottom: 1px solid #cacaca;
      cursor: pointer;
      padding: 0 25px;
      margin: 0 1px; }
      .aside .menu li a {
        font-family: 'Roboto', sans-serif;
        color: #373737;
        font-size: 30px;
        line-height: 52px;
        font-weight: 200;
        text-decoration: none;
        transition: all .3s; }
        .aside .menu li a .menu__icon {
          margin-right: 19px;
          vertical-align: middle;
          margin-bottom: 5px;
          transition: all .3s; }
        .aside .menu li a .menu__arrow {
          width: 36px;
          height: 36px;
          background-position: -167px 0px;
          float: right;
          opacity: 0;
          margin-top: 8px;
          transition: all .3s; }
        .aside .menu li a .mobile-icon {
          width: 30px;
          height: 24px;
          background-position: 0px -80px; }
    .aside .menu li:hover a {
      color: #0bcea2;
      transition: all .3s; }
    .aside .menu li:hover .menu__icon {
      background-position: 0px -117px;
      transition: all .3s; }
    .aside .menu li:hover .menu__arrow {
      opacity: 1;
      transition: all .3s; }

.footer {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Roboto-Thin',sans-serif;
  line-height: 30px;
  padding: 48px 100px 48px 25px;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer .footer__logo-block {
    width: 30%; }
    .footer .footer__logo-block .copyright {
      font-size: 25px; }

.main-block {
  margin-left: 320px;
  margin: 0 auto;
  max-width: 1520px;
  padding-top: 84px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .main-block .main-block__product-box {
    position: relative;
    margin-bottom: 37px;
    margin-right: 37px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0 15px 0;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 350px;
    height: 350px;
    border: 1px solid #cacaca;
    background-color: #ffffff; }
    .main-block .main-block__product-box .main-block__product-box__image {
      max-height: 160px;
      max-width: 250px; }
    .main-block .main-block__product-box .main-block__product-box__price {
      width: 100%;
      text-align: center;
      height: 85px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .main-block .main-block__product-box .main-block__product-box__price .you-get-box,
      .main-block .main-block__product-box .main-block__product-box__price .they-get-box {
        width: 50%;
        height: 100%; }
        .main-block .main-block__product-box .main-block__product-box__price .you-get-box .title,
        .main-block .main-block__product-box .main-block__product-box__price .they-get-box .title {
          font-size: 25px;
          color: #31313a;
          font-weight: light;
          line-height: 35px; }
        .main-block .main-block__product-box .main-block__product-box__price .you-get-box .sum,
        .main-block .main-block__product-box .main-block__product-box__price .they-get-box .sum {
          line-height: 50px;
          font-size: 40px;
          color: #ba3318;
          font-weight: 400; }
      .main-block .main-block__product-box .main-block__product-box__price .you-get-box {
        border-right: 1px solid #3f3e44; }
  .main-block .main-block__product-box .main-block__product-box__hover {
    opacity: 0;
    width: 100%;
    height: 228px;
    background-color: rgba(70, 186, 140, 0.9);
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 60px;
    color: #ffffff;
    transition: all .3s;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-block .main-block__product-box .main-block__product-box__hover .clock-icon {
      width: 55px;
      height: 55px;
      background-position: -69px 0px; }
  .main-block .main-block__product-box:hover .main-block__product-box__hover {
    opacity: 1;
    transition: all .3s; }
  .main-block .main-block__product-box:nth-child(4n+0) {
    margin-right: 0px; }
  .main-block .main-block__product-box:last-child {
    margin-bottom: 76px; }

.aside .menu li .submenu {
  display: none;
  height: 120%;
  min-width: 360px;
  opacity: 0;
  z-index: 20;
  position: absolute;
  top: -70px;
  left: 104%;
  padding: 30px 28px 110px 28px;
  background-color: #f5f5f5;
  transition: all .3s; }
  .aside .menu li .submenu li {
    cursor: pointer;
    font-size: 27px;
    color: #373737;
    border: none;
    padding: none;
    line-height: 30px;
    height: 30px; }
  .aside .menu li .submenu li:hover {
    color: #0bcea2; }
.aside .menu li:hover .submenu {
  display: block;
  opacity: 1;
  transition: all .3s; }

.header .login-box {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  font-weight: 100; }
  .header .login-box .login-box__gray-triangle {
    transition: all .3s;
    opacity: 0;
    width: 37px;
    height: 0px;
    border-bottom: 19px solid #3f3e44;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 0px solid transparent;
    position: absolute;
    bottom: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .header .login-box .login-box__white-triangle {
    transition: all .3s;
    opacity: 0;
    width: 39px;
    height: 0px;
    border-bottom: 20px solid #ffffff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 0px solid transparent;
    position: absolute;
    bottom: -22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .header .login-box h3 {
    text-align: center; }
.header .log-in:hover .login-box__gray-triangle,
.header .log-in:hover .login-box__white-triangle,
.header .log-in:hover .sign-in-dropdown,
.header .log-in:hover .register-dropdown {
  opacity: 1;
  transition: all .5s; }
.header .log-out:hover .login-box__gray-triangle,
.header .log-out:hover .login-box__white-triangle,
.header .log-out:hover .account-dropdown,
.header .log-out:hover .log-out-dropdown {
  opacity: 1;
  transition: all .5s; }

.header .login-box .account-dropdown {
  transition: all .3s;
  opacity: 0;
  padding: 35px 32px;
  width: 480px;
  background-color: #3f3e44;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 101px;
  z-index: 20; }
  .header .login-box .account-dropdown .account-dropdown__photo {
    float: left;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin-right: 23px; }
  .header .login-box .account-dropdown h3 {
    display: inline-block;
    vertical-align: top;
    line-height: 55px; }
  .header .login-box .account-dropdown .account-btn {
    width: 233px;
    height: 33px;
    display: block;
    margin: 20px auto;
    background-color: #46ba8c;
    outline: none;
    border: none;
    font-size: 25px;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px #30966e;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    line-height: 33px; }
  .header .login-box .account-dropdown .account-btn:hover {
    transition: all .3s;
    box-shadow: none;
    margin: 21px auto 19px auto;
    background-color: #30966e;
    color: #ffffff; }
  .header .login-box .account-dropdown .account-dropdown__flex-container {
    float: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.header .login-box .log-out-dropdown {
  transition: all .3s;
  opacity: 0;
  padding: 0px 32px;
  width: 480px;
  background-color: #3f3e44;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 302px;
  z-index: 20;
  text-align: center; }
  .header .login-box .log-out-dropdown a {
    line-height: 66px;
    font-size: 30px;
    color: #ffffff; }

.header .login-box .register-dropdown {
  transition: all .3s;
  opacity: 0;
  padding: 35px 32px;
  width: 387px;
  background-color: #3f3e44;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 573px;
  z-index: 20; }
  .header .login-box .register-dropdown .register-btn {
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    width: 103px;
    height: 31px;
    border-radius: 5px;
    border: 3px solid #46ba8c;
    margin-left: 5px;
    line-height: 25px;
    font-size: 25px;
    font-weight: 400;
    text-align: center; }

.header .login-box .sign-in-dropdown {
  transition: all .3s;
  opacity: 0;
  padding: 35px 32px;
  width: 387px;
  background-color: #3f3e44;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 101px;
  z-index: 20; }
  .header .login-box .sign-in-dropdown .sign-in__input {
    width: 322px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px; }
  .header .login-box .sign-in-dropdown .sign-in-input-box :last-child {
    margin-bottom: 0px; }
  .header .login-box .sign-in-dropdown a {
    font-size: 14px;
    font-weight: 100;
    color: #46ba8c;
    text-decoration: underline; }
  .header .login-box .sign-in-dropdown .sign-in-btn {
    width: 170px;
    height: 33px;
    display: block;
    margin: 20px auto;
    background-color: #46ba8c;
    outline: none;
    border: none;
    font-size: 25px;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px #30966e;
    cursor: pointer;
    transition: all .3s; }
  .header .login-box .sign-in-dropdown .sign-in-btn:hover {
    transition: all .3s;
    box-shadow: none;
    margin: 21px auto 19px auto;
    background-color: #30966e; }
  .header .login-box .sign-in-dropdown .sign-in__icon {
    color: #ffffff;
    font-size: 25px;
    margin-left: 7px;
    cursor: pointer;
    transition: all .3s; }
  .header .login-box .sign-in-dropdown .sign-in__icon:hover {
    color: #46ba8c;
    text-shadow: 0 0 5px 5px #46ba8c;
    transition: all .3s; }

/*# sourceMappingURL=screen.css.map */
